
.section-body {
    padding: $grid-gutter-width / 2;
}

.project-list {

    .btn-toggle {
        margin-right: $grid-gutter-width / 6;
        margin-bottom: $grid-gutter-width / 6;
    }
}

.btn-toggle {
    background-color: $table-bg-hover;

    &.btn-primary.is-selected {
        background-color: $brand-primary;
    }
}

section {
    padding-top: $grid-gutter-width;
    margin-top: $grid-gutter-width;

    border-top: 2px solid $table-bg-hover;

    &:first-of-type {
        padding-top: initial;
        margin-top: initial;

        border-top: initial;
    }
}

.task-list {
    list-style-type: none;
    padding-left: 0;

    li {
        padding: $grid-gutter-width/2 0;
        border-top: 1px solid $table-bg-hover;

        &:first-of-type {
            padding-top: initial;
            border-top: initial;
        }
        &:last-of-type {
            padding-bottom: initial;
        }
    }

    font-size: floor(($font-size-base * 1.15));

    & .proj-name-label {
        font-size: floor(($font-size-base * 1.15));
    }
}


//Transitions

.fade-transition {
    transition: transform $transition-duration-std/2 ease-out;
    transform: scaleY(1);
    overflow: hidden;
}

.fade-enter {
    transform: scaleY(0);
}

.fade-leave {
    transform: scaleY(0);
}